In [1]:
import numpy as np
import pandas as pd
 
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

import seaborn as sns

In [2]:
A = pd.read_excel('Measurements.xlsx', engine='openpyxl')
A.head(3)

,No.,Longitude,Latitude,DateTime,Serving RSRP_All Logs,Serving RSRQ_All Logs,Serving RSSI_All Logs,Serving PCC SINR_All Logs,Serving DL EARFCN_All Logs,PCC PHY Throughput DL_All Logs,PDCP Throughput DL_All Logs
0,1,3.36693333\t,6.55639500\t,2017-04-01 12:22:55.500\t,-67.65,-7.81,-45.52,12.26,1876,\t,\t
1,2,3.36693131\t,6.55650114\t,2017-04-01 12:22:56.500\t,-66.53,-8.5,-43.9,8.09,1876,\t,7898.39
2,3,3.36692891\t,6.55668426\t,2017-04-01 12:22:57.500\t,-70.77,-8.66,-48.02,7.83,1876,8737.41,7204.2

In [9]:
df = A.copy()
df["Longitude"] = df["Longitude"].str.replace("\t","")
df["Latitude"] = df["Latitude"].str.replace("\t","")
df["DateTime"] = df["DateTime"].str.replace("\t","") 
    
# I remove all the '\t' from the string and then replace it with NaN. Later I will remove the NaNs
for r in range(0,len(df)):
    if type(df['PCC PHY Throughput DL_All Logs'][r]) == str:
        # df['PCC PHY Throughput DL_All Logs'][r] = df['PCC PHY Throughput DL_All Logs'][r].replace("\t", "") 
        df['PCC PHY Throughput DL_All Logs'][r] = np.nan
    
    if type(df['PDCP Throughput DL_All Logs'][r]) == str:
        # df["PDCP Throughput DL_All Logs"][r] = df["PDCP Throughput DL_All Logs"][r].replace("\t", "")
        df["PDCP Throughput DL_All Logs"][r] = np.nan

df.dropna(inplace = True)
# df.head(5)

df['Longitude'] = pd.to_numeric(df['Longitude'].values,  errors='coerce')
df['Latitude'] = pd.to_numeric(df['Latitude'].values,  errors='coerce')
df['DateTime'] = pd.to_datetime(df['DateTime'].values,  errors='coerce')
df['Serving RSRP_All Logs'] = pd.to_numeric(df['Serving RSRP_All Logs'].values,  errors='coerce')
df['Serving RSRQ_All Logs'] = pd.to_numeric(df['Serving RSRQ_All Logs'].values,  errors='coerce')
df['Serving DL EARFCN_All Logs'] = pd.to_numeric(df['Serving DL EARFCN_All Logs'].values,  errors='coerce')
df['Serving RSSI_All Logs'] = pd.to_numeric(df['Serving RSSI_All Logs'].values,  errors='coerce')
df['Serving PCC SINR_All Logs'] = pd.to_numeric(df['Serving PCC SINR_All Logs'].values,  errors='coerce')
df['PCC PHY Throughput DL_All Logs'] = pd.to_numeric(df['PCC PHY Throughput DL_All Logs'].values,  errors='coerce')
df['PDCP Throughput DL_All Logs'] = pd.to_numeric(df['PDCP Throughput DL_All Logs'].values,  errors='coerce')

df.to_csv('cleaned_data_csv.csv', index = False)

C:\Users\SHAN_J~1\AppData\Local\Temp/ipykernel_26856/3003913073.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PCC PHY Throughput DL_All Logs'][r] = np.nan
C:\Users\SHAN_J~1\AppData\Local\Temp/ipykernel_26856/3003913073.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PDCP Throughput DL_All Logs"][r] = np.nan

In [7]:
df.dtypes

No.                                        int64
Longitude                                float64
Latitude                                 float64
DateTime                          datetime64[ns]
Serving RSRP_All Logs                    float64
Serving RSRQ_All Logs                    float64
Serving RSSI_All Logs                    float64
Serving PCC SINR_All Logs                float64
Serving DL EARFCN_All Logs               float64
PCC PHY Throughput DL_All Logs           float64
PDCP Throughput DL_All Logs              float64
dtype: object

In [ ]:
# df.corr()
plt.figure(figsize=(8,8))
sns.heatmap(df.corr(),cbar=True,annot=True,cmap='Blues')

In [ ]:
#
plt.figure(figsize=(5,5))
plt.scatter(x='PCC_SINR',y='PCC_PHY_Thruput_DL', data=df)
plt.xlabel('SINR')
plt.ylabel('PCC PHY Throutput (DL)')

In [ ]:
plt.figure(figsize=(5,5))
plt.scatter(x='RSRP',y='PCC_PHY_Thruput_DL', data=df)
plt.xlabel('RSRP (dB)')
plt.ylabel('PCC PHY Throutput (DL)')